

  
  <div class="content">
   <h2 class="sub-title">Tienes una idea?</h2>
   <div class="text-scroll">
    <h1>SOMOS CREATIVOS</h1>
    <h1>SOMOS DESARROLLADORES</h1>
    <h1>SOMOS EMPRENDEDORES</h1>
    <h1>ALGO SORPRENDENTE..</h1>
    <h1>PUEDE SER CONSTRUIDO  </h1>
    <h1>CONTACTANOS.</h1>
  </div>
  <ul class="ideas inline">
    <li>Building Ideas</li>
    <li>Development Apps</li>
  </ul>
</div><!-- /.content -->
<div class="arrow"><i class="icons-angle-down"></i></div>
<a class="arrow_bg btn-top" href="#projects"></a>
</div>

<!-- About -->
<section id="about" class="section about-section">
  <div class="container wrapper">
   <div class="row wrapper">
    <div class="span12 ">
     <div class="titlebox orches-animation" data-animation="fadeInLeft" data-animation-delay="0" data-animation-offset="75%" style="width:100%;">
      <h2 class="subtitle">Conocenos</h2>
      <h3 class="maintitle">Nuestros servicios</h3>
      <p></p>
    </div>
    <div class="spacer"></div>
  </div><!-- /.span12 -->
  <div class="container wrapper">
    <div class="span3 esp2">
     <div class="iconbox orches-animation" data-animation="fadeInRight" data-animation-delay="0" data-animation-offset="75%">
      <div class="icon">
       <div class="icon-bg"></div>
       <i class="icons-mobile-phone"></i>
     </div>
     <h3><a href="#">Aplicaciones Móviles</a></h3>
     <p>Aplicaciones móviles desarrolladas a la medida, ideal para tu negocio o idea.</p>
   </div>
 </div><!-- /.span3 -->
 <div class="span3 esp2">
   <div class="iconbox orches-animation" data-animation="fadeInRight" data-animation-delay="0.2s" data-animation-offset="75%">
    <div class="icon">
     <div class="icon-bg"></div>
     <i class="icons-keyboard-o"></i>
   </div>
   <h3><a href="#">Aplicaciones Web</a></h3>
   <p>Apliaciones web desarrolladas a la medida, ideal para tu negocio o idea.</p>
 </div>
</div><!-- /.span3 -->
<div class="span3 esp2">
 <div class="iconbox orches-animation" data-animation="fadeInRight" data-animation-delay="0.4s" data-animation-offset="75%">
  <div class="icon">
   <div class="icon-bg"></div>
   <i class="icons-desktop"></i>
 </div>
 <h3><a href="#">Sitios Web</a></h3>
 <p>Sitios web perzonalizados, tu mejor presentacion. Ideales para ti o tu negocio.</p>
</div>
</div><!-- /.span3 -->
<div class="span3 esp2">
 <div class="iconbox orches-animation" data-animation="fadeInRight" data-animation-delay="0.6s" data-animation-offset="75%">
  <div class="icon">
   <div class="icon-bg"></div>
   <i class="icons-pencil"></i>
 </div>
 <h3><a href="#">Identity & Branding</a></h3>
 <p>Desarrollo o refresh de tu marca.</p>
</div>
</div> <!-- /.span3 -->
<div class="span3 esp2">
 <div class="iconbox orches-animation" data-animation="fadeInRight" data-animation-delay="0.6s" data-animation-offset="75%">
  <div class="icon">
   <div class="icon-bg"></div>
   <i class="icons-copy-paste"></i>
 </div>
 <h3><a href="#">Diseños 2D - 3D</a></h3>
 <p>Diseños en 2D y 3D.</p>
</div>
</div> <!-- /.span3 -->
<div class="span3 esp2">
 <div class="iconbox orches-animation" data-animation="fadeInRight" data-animation-delay="0.6s" data-animation-offset="75%">
  <div class="icon">
   <div class="icon-bg"></div>
   <i class="icons-camera-retro"></i>
 </div>
 <h3><a href="#">Fotografía</a></h3>
 <p>Fotografias de la mejor calidad para todo tipo de proyecto.</p>
</div>
</div> <!-- /.span3 -->
</div>
</div><!-- /.row -->
</div><!-- /.container -->
</section>

<!-- Motto -->
<section class="section motto-section parallax-b10 parallax">
  <div class="overlay"></div>
  <div class="container">
   <div class="row ">
    <div class="content-section">
     <div class="span12">
      <div class="titlebox orches-animation" data-animation="fadeInRight" data-animation-delay="0" data-animation-offset="75%">
       <h2 class="subtitle text-white">Bidapps</h2>
       <h3 class="maintitle text-color">ideas e innovación</h3>
       <p class="text-white">Somos una empresa nueva con grandes ideas, ofrecemos soluciones tecnológicas para que tu marca, idea o empresa crezca.</p>
     </div>
   </div><!-- /.span12 -->
 </div>
</div><!-- /.row -->
</div><!-- /.container -->
</section>

<!-- Projects -->
<section id="projects" class="section projects-section">
  <div class="container">
   <div class="row">
    <div class="span12">
     <div class="titlebox orches-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
      <h2 class="subtitle">Proyectos</h2>
      <h3 class="maintitle">NUESTRO TRABAJO</h3>
      <p>Dale un vistazo a nuestros últimos proyectos.</p>
    </div>
    <div class="spacer"></div>
  </div><!-- /.span12 -->
</div><!-- /.row -->
</div><!-- /.container -->
<div class="remodal-bg">
  <div class="project-wrap fullwidth">
    <ul class="project-filter inline">
      <li class="active"><a data-filter="*" href="#">Todos</a></li>
      <li><a data-filter=".mobileApps" href="#">Aplicaciones Móviles</a></li>
      <li><a data-filter=".webApps" href="#">Aplicaciones Web</a></li>
      <li><a data-filter=".web-design" href="#">Sitios Web</a></li>
      <li><a data-filter=".identityAndBranding" href="#">Identity & Branding</a></li>
      <li><a data-filter=".2D-3DDesign" href="#">Diseños 2D - 3D</a></li>
      <li><a data-filter=".photography" href="#">Fotografía</a></li>
      
    </ul>
    <div class="project-container" data-animation="zoomIn" data-animation-delay="0" data-animation-offset="75%">
      
      <div class="item project-item web-design">
       <div class="project-thumb">
        <img src="images/portfolio/9.jpg" alt="image">
        <div class="opacity"></div>
        <div class="detail">
         <div class="text">
          <h3 class="project-title"><a href="#modal1">ENRIQUE GARCIA FOTOGRAFIA</a></h3>
          <p>WEBSITE ENERO 2015</p>
        </div>
        <div class="link">
          <div class="icon-bg"></div>
          <div class="icon">
           <!--<a href="http://www.enriquegarciafotografia.com/" target="_blank"><i class="icons-link"></i></a>-->
           <a href="#modal1"><i class="icons-link"></i></a>
         </div>
       </div>
     </div>
   </div>
 </div><!-- /.project-item -->
 <div class="item project-item web-design">
   <div class="project-thumb">
    <img src="images/portfolio/10.jpg" alt="image">
    <div class="opacity"></div>
    <div class="detail">
     <div class="text">
      <h3 class="project-title"><a href="#modal2">CHRISTIAN GOENAGA</a></h3>
      <p>WEBSITE FEBRERO 2015</p>
    </div>
    <div class="link">
      <div class="icon-bg"></div>
      <div class="icon">
       <!-- <a href="http://christiangoenaga.com/" target="_blank"><i class="icons-link"></i></a> -->
       <a href="#modal2"><i class="icons-link"></i></a>
     </div>
   </div>
 </div>
</div>
</div><!-- /.project-item -->
<div class="item project-item web-design">
 <div class="project-thumb">
  <img src="images/portfolio/1.jpg" alt="image">
  <div class="opacity"></div>
  <div class="detail">
   <div class="text">
    <h3 class="project-title"><a href="#modal3">INGEKONTROLL</a></h3>
    <p>WEBSITE MARZO 2015</p>
  </div>
  <div class="link">
    <div class="icon-bg"></div>
    <div class="icon">
     <a href="#modal3"><i class="icons-link"></i></a>
   </div>
 </div>
</div>
</div>
</div><!-- /.project-item -->

</div><!-- /.project-container -->
</div><!-- /.project-wrap -->
</div>

<!-- Modal Garcia -->
<div class="remodal" data-remodal-id="modal1">
  <h2>Enrique Garcia Fotografia</h2>
  <p>
    Pagina Web personal del fotografo Enrique Garcia
  </p>
  <br>
  <img src="images/portfolio/9.jpg" alt="image">
  <br>
  <br>
  <a href="http://www.enriquegarciafotografia.com/" target="_blank" class="ess"> www.enriquegarciafotografia.com </a>
          <!--<a class="remodal-cancel" href="#">Cancel</a>
          <a class="remodal-confirm" href="#">OK</a>-->
        </div>

        <!-- Modal Goenaga -->
        <div class="remodal" data-remodal-id="modal2">
          <h2>Christian Goenaga</h2>
          <p>
            Pagina Web personal del fotografo Christian Goenaga
          </p>
          <br>
          <img src="images/portfolio/10.jpg" alt="image">
          <br>
          <br>
          <a href="http://christiangoenaga.com/" target="_blank" class="ess"> www.christiangoenaga.com  </a>
        </div>

        <!-- Modal Ingekontroll -->
        <div class="remodal" data-remodal-id="modal3">
          <h2>Ingekontroll Soluciones Energéticas</h2>
          <p>
            Pagina Web Ingekontroll Soluciones Energéticas
          </p>
          <br>
          <img src="images/portfolio/1.jpg" alt="image">
          <br>
          <br>
          <a href="http://ingekontroll.com/" target="_blank" class="ess"> www.ingekontroll.com  </a>
        </div>


      </section>
      
      <!-- Team -->
      <section id="team" class="section team-section" style="border-top: 1px solid #0fd8da;">
        <div class="container wrapper">
         <div class="row wrapper">
          <div class="span12">
           <div class="titlebox orches-animation" data-animation="fadeInUp" data-animation-delay="0" data-animation-offset="75%">
            <h2 class="subtitle">Nuestro equipo</h2>
            <h3 class="maintitle">QUIENES SOMOS?</h3>
            <p>Nuestro equipo de trabajo se encuentra altamente calificado para brindarte la mejor asesoria en la contrución y desarrollo de tu idea.</p>
          </div>
          <div class="spacer"></div>
        </div><!-- /.span12 -->
        <div class="span3 esp">
          <div class="team orches-animation" data-animation="fadeIn" data-animation-delay="0" data-animation-offset="75%">
            <div class="photo">
              <div class="overlays">
                <img src="images/team/1.png" alt="image">
              </div>
            </div>
            <div class="info">
              <h5 class="name">Cristian Pion</h5>
              <p class="position">CIO</p>
            </div>
            <ul class="socials unstyled">
              <li><a target="_blank" href="https://www.facebook.com/cristianc192"><i class="icons-facebook"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/Cristianc1920"><i class="icons-twitter"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div><!-- /.team -->
        </div><!-- /.span3 -->
        
        <div class="span3 esp">
          <div class="team orches-animation" data-animation="fadeIn" data-animation-delay="0.2s" data-animation-offset="75%">
            <div class="photo">
              <div class="overlays">
                <img src="images/team/2.png" alt="image">
              </div>
            </div>
            <div class="info">
              <h5 class="name">Douglas Vargas</h5>
              <p class="position">Director creativo</p>
            </div>
            <ul class="socials unstyled">
              <li><a target="_blank" href="https://www.facebook.com/DougDiVargas"><i class="icons-facebook"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/DougVonDutch"><i class="icons-twitter"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div><!-- /.team -->
        </div><!-- /.span3 -->
        <div class="span3 esp">
          <div class="team orches-animation" data-animation="fadeIn" data-animation-delay="0.4s" data-animation-offset="75%">
            <div class="photo">
              <div class="overlays">
                <img src="images/team/3.png" alt="image">
              </div>
            </div>
            <div class="info">
              <h5 class="name">Kevin Ahumada</h5>
              <p class="position">Director ejecutivo</p>
            </div>
            <ul class="socials unstyled">
              <li><a target="_blank" href="https://www.facebook.com/kevin.s.ahumada"><i class="icons-facebook"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/KevinSteve26"><i class="icons-twitter"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div><!-- /.team -->
        </div><!-- /.span3 -->
        <div class="spacer large"></div>
        
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>

  

  <!-- Socials -->
  <section class="section social-section parallax-b9 parallax">
    <div class="overlay"></div>
    <div class="container">
     <div class="row">
      <div class="content-section">
       <div class="span12">
        <div class="titlebox orches-animation" data-animation="fadeInDown" data-animation-delay="0.5s" data-animation-offset="90%">
         <h2 class="subtitle text-white">Social</h2>
         <h3 class="maintitle text-color">SIGUENOS EN</h3>
         <p class="text-white">Visita nuestra redes sociales.</p>
       </div>
       <div class="spacer"></div>
     </div><!-- /.span12 -->
     <div class="span5 esp1">
      <div class="socials-list small-size orches-animation" data-animation="fadeInUp" data-animation-delay="0.5s" data-animation-offset="90%">
       <ul class="unstyled">
        <li ><a target="_blank" href="https://twitter.com/Bidapps"><i class="icons-twitter" ></i></a></li>
        <li ><a target="_blank" href="https://www.facebook.com/pages/Bidapps/1440141679539820?fref=ts"><i class="icons-facebook"></i></a></li>
        <li ><a target="_blank" href="http://instagram.com/bidapps"><i class="icons-instagram"></i></a></li>
      </ul>
    </div>
  </div><!-- /.span12 -->
</div>
</div><!-- /.row -->
</div><!-- /.container -->
</section>

<!-- Contact -->
<section id="contact" class="section contact-section">
  <div class="container">
   <div class="row">
    <div class="span12">
     <div class="titlebox">
      <h2 class="subtitle">Contacto</h2>
      <h3 class="maintitle">TIENES ALGUNA PREGUNTA?</h3>
      <p>Si tienes algun proyecto o idea dejanos un mensaje y nos pondremos en contacto.</p>
    </div>
    <div class="spacer"></div>
  </div><!-- /.span12 -->
  <div class="span6 orches-animation" data-animation="fadeInRight" data-animation-delay="0" data-animation-offset="90%">
   <form class="contact-form" id="contactform" method="post" action="contact.php">
    <div class="note"></div>
    <div class="input-wrap name">
     <input type="text" value="" tabindex="1" placeholder="Nombre" name="name" id="name">
   </div>
   <div class="input-wrap email">
     <input type="text" value="" tabindex="2" placeholder="E-mail" name="email" id="email">
   </div>
   <div class="textarea-wrap">
     <textarea class="" tabindex="3" placeholder="Mensaje" name="message" id="message"></textarea>
   </div>
   <div class="submit-wrap">
     <a href="#modalTh" onclick="createLeadBit()" class="btn-orches black">Enviar</a>
   </div>
 </form><!-- /.comment-form -->
 <!-- Modal contact -->
 <div class="remodal" data-remodal-id="modalTh">
  <h2>Gracias por escribirnos</h2>
  <p>
    Muy pronto nos pondremos en contacto.
  </p>
</div>
<div class="remodal" data-remodal-id="modalWar">
  <p>
    Por favor digita todos los campos.
  </p>
</div>
</div><!-- /.span6 -->
<div class="span5">
 <div class="orches-animation" data-animation="fadeInLeft" data-animation-delay="0" data-animation-offset="90%">
  <h3 class="title text-dark">INFORMACIóN ADICIONAL</h3>
  <ul class="information unstyled">
   <li class="road">Calle 82a # 42 - 61, Barranquilla <br>Colombia</li>
   <li class="phone">+51 301 7840278 </li>
   <li class="email">info@bidapps.com </li>
 </ul>
</div>
</div><!-- /.span6 -->
</div><!-- /.row -->
</div><!-- /.container -->
</section>

<!-- Thanks -->
<section class="section thanks-section parallax-bg8 parallax">
  <div class="overlay"></div>
  <div class="container">
   <div class="row">
    <div class="content-section">
     <div class="span12">
      <div class="titlebox orches-animation" data-animation="flipInX" data-animation-delay="0" data-animation-offset="75%">
       <h2 class="subtitle">Bidapps</h2>
       <h3 class="maintitle text-white">Desarrollo y construción de ideas</h3>
     </div>
   </div><!-- /.span12 -->
 </div>
</div><!-- /.row -->
</div><!-- /.container -->
</section>

<!-- Bottom -->
<div class="bottom">
  <div class="container">
   <div class="row">
    <div class="span12">
     <div class="copyright text-center">
      © 2015 <span>Bidapps</span> | All Rights Reserved.
    </div>
  </div><!-- /.span12 -->
</div><!-- /.row -->
</div><!-- /.container -->
</div>

<!-- Go Top -->
<a class="go-top">
  <i class="icons-angle-up"></i>
</a>